.frameOne {

}

.frameTwo {

}

.frameThree {

}

/* TEST CLASSES - COLOURS ETC */

.red {
	background-color: #FF6561;
}

.purple {
	background-color: #5E567E;
}

.green {
	background-color: #00A765;
}

.pink {
	background-color: #FF7CCF;
}

.yellow {
	background-color: #FFE646;
}