body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* Frames */

.frameOne {
	position: absolute;
	width: 296px;
	height: 210px;
	font-size: 12px;
	color: white;
}

.leftPage {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 140px;
	height: 202px;
}

.rightPage {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 140px;
	height: 202px;
}

.fullPage {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 288px;
	height: 202px;
	cursor: pointer;
}

.showAndTell {
	position: absolute;
	width: 300px;
	left: 300px;
	margin: 20px;

}

/* Elements */

#title {
	position: absolute;
	width: 60px;
	height: 15px;

}

#description {
	position: absolute;
	width: 80px;
	height: 100px;

}

#links {
	position: absolute;
	width: 80px;
	height: 20px;

}




/* TEST CLASSES - COLOURS ETC */


.red {
	background-color: #FF6561;
}

.purple {
	background-color: #5E567E;
}

.green {
	background-color: #00A765;
}

.pink {
	background-color: #FF7CCF;
}

.yellow {
	background-color: #FFE646;
}

.white {
	background-color: white;
}